#application {
    display: block;
    position: relative;
    border: solid 1px red;
    padding: 5px;
    text-align: left;
}

#image {
    display: inline-block;
    width: 300px;
    height: 300px;
}